@{
    ViewBag.Title = "Chi Siamo";
}

<div class="container mt-4">
    <h2>Chi Siamo</h2>
    <p>Siamo Scarpe & Co, un'azienda leader nel settore delle scarpe da tennis. La nostra missione è fornire prodotti di alta qualità...</p>
</div>

